*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: #000000;
}
.container{
    width: 75%;
    background-color: #a07474;
    margin: 0 auto;
}
.header-sec {
    height: 80px;
    text-align: center;
    background-color: rgb(12 101 177);
}
.hhas{
    color: #ffff;
    padding-top: 28px;
    text-shadow: 3px 2px 9px #160606;
}
.main{
    height: 490px;
    padding: 10px;
    background-color: #5b9ddb;
    
}
.has {
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    text-shadow: rgba(2, 2, 6, 0.76) 2px 4px 5px;
    border-bottom: 2px solid #020a12dd;
    padding-bottom: 7px;
    margin-bottom: 10px;
}
.footer-sec {
    height: 50px;
    text-align: center;
    background-color: #015f89;
    display: block;
    padding-top: 14px;
    font-size: 12px;
    color: #ffffff;
}